<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <%= custom_errors_for(post) %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit nil, {class: 'btn btn-outline-success'} %>
<% end %>


